@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

:root{
font-family: 'Libre Franklin', sans-serif;
word-spacing: 3px;
}
/* content */

body{
    width:90%;
    margin:auto
}
h1{
    text-align: center;
    background-color: #152d47;
    color: white;
    border-radius: 15px;
    word-spacing: 10px;
    margin-top: 20px;
}

/* .cardsContainer{
  display: flex;
  margin-bottom: 20px;
  border:1px solid black;
}
.charts {
    display: flex;
    background-color: #fff;
  }
  .charts-left {
    width: 20vw;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .charts-left i {
    color: #fff;
    background-color:#152d47;
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
  }
  
  .mainDiv {
    display: flex;
    align-items: center;
    height: 30%;
    background-color: #d3d5db84;
    border-radius: 4px;
    margin: 0 20px;
  }
  .totalCount {
    font-size: 20px;
    margin:0
  }
  
  .totalCountTitle {
    font-size: 14px;
    margin:0
  } */

#all{
  background-color: #152d47;
  color:white;
}

nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    margin-top: 20px;
}
nav p{
padding:10px;
}

nav p:hover{
    cursor: pointer;
    background-color: #152d47;
    color: white;
}

.functions{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bolder;
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
    padding:0 20px;
}

.searchFunc{
    display: flex;
    justify-content: space-around;
    width:40%;
}
.searchFunc input{
    width:70%;
    margin:0;
}
.searchFunc label, select{
    height: 25px;
    margin: 22px 5px 0 0;
}
#searchSub{
    display:none;
}
#search_icon , #search{
    height: 25px;
    margin: 22px 0 20px 0;
}
#search_icon{
cursor: pointer;
color:#152d47;
}

table{
    border:1px solid black;
    background-color: white;
    width:100%;
    margin: auto;
    border-spacing: 0;
    margin-bottom: 20px;
}
thead th{
border-bottom: 1px solid black;
padding:5px;
background-color: #152d47;
color: white;
font-weight: lighter;
}
td{
    text-align: center;
    padding:10px;
}
tr:hover{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
}


.popupSection {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181824ce;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(3px);
  z-index: 1;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

#updatePopup {
  background-color: #181824ce;
  width: 40vw;
  padding: 20px;
}
#updatePopup form {
  display: flex;
  flex-direction: column;
}
#updatePopup form h3{
  color:white;
  text-align: center;
  margin-bottom: 10px;
}
#updatePopup form label{
  color:#fff;
}
#updatePopup form input {
  padding: 5px 10px;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}
.radio{
  display: flex;
  justify-content: space-between;
}
#close-popup-updateform {
  position: absolute;
  transform: translate(-30px, -30px);
  cursor: pointer;
  font-size: 30px;
  color: red;
}
#updateProduct {
  width: 30%;
  margin: auto;
  background-color: #fff;
  color: black;
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
}
#updateProduct:hover{

}